<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formularios</title>
</head>
<body>
    
   
        <form  action="/canciones" method="POST" enctype="multipart/form-data">
                            
            <label  for="titulo"><b>titulo</b></label>
            <input  type="text" name="titulo" ><br>
            <label  for="duracion"><b>duracion</b></label>
            <input  type= "time" name="duracion" ><br>
            <p>
            Género:
            <select name="genero">
                <% for (let i = 0 ; i < generos.length ; i++){ %>
                    <option value ="<%=generos[i].id%>">
                        <%= generos[i].name%>
                        </option>
                        <% } %>
            </select>
             </p>
            <label for="album">album:</label>
            <input type="album" id="album" name="albumes"><br>
            <label for="artista">artista:</label>
            <input type="text" id="artista" name="artistas"><br>
            <button type="submit" class="buy-now-button">crear cancion</button>
                                      

    
    </form>
 
</body>
</html>