<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrado de la cancion</title>
    
</head>

<body>
    <figure>
      </figure>
    <h1>Estas seguro de querer borrar esta película: <%= cancion.titulo %>???</h1>
    <p>
        <form action="/movies/delete/<%= canciones.id %>" method="POST">
            <br>
            <p> <button class="botonBorrar" type="submit">Borrar la cancion</button>
            
            <a  class="botonVolver" href="/canciones">Listado de canciones</a></p>

        </form>
    </p>
    
</body>

</html>