<!DOCTYPE html>
<%- include('./partials/links.ejs') %>
<head>

<link rel="stylesheet" href="/css/style.css">
<%- include('./partials/header.ejs') %> 

</head>

<body>

  <h1>Listado de canciones</h1>
  <a href="/canciones/crear" >agregar cancion</a>

  <p>Listado de canciones</p>
  <ul>
      <% for (let i = 0 ; i< canciones.length ; i++)
      <li>
        <a href="/canciones/detalle/<%= canciones[i].id"%>></a>
    </li>
  </ul>
  
   

    

</body>

<%- include('./partials/footer.ejs') %>

</html>